@media screen and (max-width:1500px)
{
  
}
@media screen and (max-width:1300px)
{

}
@media screen and (min-width:1024px)
{
    .bloc-food article{width: 32% !important;}
}

@media screen and (min-width:768px)
{
   .bloc-food
   {
       display: flex;
       flex-wrap: wrap;
       justify-content: space-between;
   }
   .bloc-food h4{width: 100%;}
   .bloc-food article{width: 48%;}
   .bloc-fonctionnement
   {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
   }
   .bloc-fonctionnement h2{width: 100%;}
   .bloc-restaurants
   {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
   }
   .resto{width: 40%;}
}
