@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&family=Shrikhand&display=swap');
*{box-sizing: border-box;font-family: 'Roboto', sans-serif;}
body{margin: 0px;}
h1,h2,h3,h4,h5,h6{margin: 0px;}
/*----Accueil----*/
header
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    box-shadow: 0px 4px 5px 0px rgb(183 183 183 / 75%);
    -webkit-box-shadow: 0px 4px 5px 0px rgb(183 183 183 / 75%);
    -moz-box-shadow: 0px 4px 5px 0px rgb(183 183 183 / 75%);
}
nav svg{width: 165px;}
nav p{font-weight: 500;}
.bloc-localisation
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eaeaea;
    margin-top: 5px;
}
.bloc-localisation i{margin-right: 10px;}
.bloc-explore
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: #f6f6f6;
    padding: 40px 0px 40px 0px;
}