@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');
*{box-sizing: border-box;}
h1,h2,h3,h4,h5,h6{font-family: 'Shrikhand', cursive;}
p{font-family: 'Roboto', sans-serif;}