@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&family=Shrikhand&display=swap');
*{box-sizing: border-box;font-family: 'Roboto', sans-serif;}
body{margin: 0px;}
h1,h2,h3,h4,h5,h6{margin: 0px;}
/*----Accueil----*/
header
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    box-shadow: 0px 4px 5px 0px rgb(183 183 183 / 75%);
    -webkit-box-shadow: 0px 4px 5px 0px rgb(183 183 183 / 75%);
    -moz-box-shadow: 0px 4px 5px 0px rgb(183 183 183 / 75%);
}
nav svg{width: 165px;}
nav p{font-weight: 500;}
.bloc-localisation
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eaeaea;
    margin-top: 5px;
}
.bloc-localisation i{margin-right: 10px;}
.bloc-explore
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: #f6f6f6;
    padding: 40px 0px 40px 0px;
}
.bloc-explore button
{
    padding: 15px;
    border-radius: 25px;
    border: none;
    background: linear-gradient(0.48turn, #FF79DA 20%, #9356DC);
    color: white;
    font-size: 15px;
    font-weight: 500;
    box-shadow: 1px 3px 7px 1px rgb(166 166 166 / 75%);
    -webkit-box-shadow: 1px 3px 7px 1px rgb(166 166 166 / 75%);
    -moz-box-shadow: 1px 3px 7px 1px rgb(166 166 166 / 75%);
    transition: all 400ms ease-in-out;
    cursor: pointer;
}
.bloc-explore button:hover
{
    background: linear-gradient(0.48turn, #f789d7 20%, #a76eec);
    box-shadow: 5px 7px 7px 1px rgb(166 166 166 / 75%);
    -webkit-box-shadow: 5px 7px 7px 1px rgb(166 166 166 / 75%);
    -moz-box-shadow: 5px 7px 7px 1px rgb(166 166 166 / 75%);
}
.bloc-fonctionnement{padding: 20px 10px 20px 10px;}
.bloc-fonctionnement .pres-link
{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 15px;
    padding: 5px;
    margin: 15px 20px 15px 20px;
    box-shadow: 2px 3px 8px 0px rgb(166 166 166 / 75%);
    -webkit-box-shadow: 2px 3px 8px 0px rgb(166 166 166 / 75%);
    -moz-box-shadow: 2px 3px 8px 0px rgb(166 166 166 / 75%);
    background-color: #f6f6f6;
}
.pres-link p
{
    min-width: 175px;
    font-weight: 500;
}
.bloc-fonctionnement span
{
    color: white;
    font-size: 14px;
    border-radius: 50%;
    padding: 4px 8px;
    background-color: #9356DC;
    position: absolute;
    left: -13px;
}
.pres-link i{color: #7e7e7e;}

.bloc-restaurants 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bloc-restaurants h2{width: 90%;}
.resto
{
    width: 85%;
    position: relative;
    border-radius: 20px;
    box-shadow: 0px 6px 7px 1px rgb(166 166 166 / 75%);
    -webkit-box-shadow: 0px 6px 7px 1px rgb(166 166 166 / 75%);
    -moz-box-shadow: 0px 6px 7px 1px rgba(166,166,166,0.75);
    margin: 20px 0px 20px 0px;
}
.resto img
{
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.new
{
    position: absolute;
    top: 0px;
    border-radius: 3px;
    right: 15px;
    font-weight: 500;
    color: #39a98e;
    padding: 5px;
    background-color: #99e2d0;
}
.description
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px;
}
.description p{margin: 0px;}
.description i
{
    font-size: 20px;
    color: #7e7e7e;
}
footer
{
    margin-top: 20px;
    background-color: #353535;
    color: white;
    padding: 20px;
}
footer svg{width: 120px;}
footer svg path{fill: white;}
footer li
{
    list-style: none;
    margin-top: 8px;
}
footer ul{padding:0px;}
footer a{
    text-decoration: none;
    color: white;
}
footer i{min-width: 29px;}
.fa-hands-helping{font-size: 13px;}

.pres-link:hover{background-color: rgba(147, 86, 220, 0.2);}
.pres-link:hover i{color: #9356DC;}
.fa-heart:hover
{
    color: #9356DC; 
    font-weight: bold;
    transition: all 400ms ease-in-out;
}